casadi
certifi
chaospy
charset-normalizer
contourpy
cwrap
cycler
resdata
emcee
fonttools
gstools
hankel
idna
importlib-metadata
importlib-resources
kiwisolver
markdown-it-py
matplotlib
mdurl
meshio
mpmath
numpoly
numpy
packaging
pandas
Pillow
# py-trsqp==0.0.3
pyevtk
Pygments
pyparsing
python-dateutil
pytz
requests
rich
scipy
six
tqdm
typing-extensions
tzdata
urllib3
zipp
scikit-learn
wrapt_timeout_decorator

py-trsqp @ git+https://github.com/iffanh/py-trsqp@main